:root{
 --background-color: #f8f8f8;
 --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 --color: #1db954;
 --border-radius:0.75rem;
 --font-weight: 500;
}

.homepage__Sidebar {
  height: 100vh;
  flex: 0.2;
  background-color:var(--background-color);
  min-width: 320px;
}

.sidebar__category > p {
  margin: 15px;
  padding: 10px 10px 10px 20px;
  background-color:var(--background-color);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight);
  box-shadow: var(--box-shadow);
}
.sidebar__onClickCategory {
  border: 2px solid var(--color);
  color: var(--color);
  margin: 15px;
  padding: 10px 10px 10px 20px;
  background-color:var(--background-color);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight);
  box-shadow: var(--box-shadow);
}
.sidebar__category > p:hover {
  background-color: #e7faee;
  cursor: pointer;
}

.all_courses {
  margin-top: 30px;
  text-transform: uppercase;
}
.sidebar__filterButton {
  background-color: black;
  border: none;
  border-radius: 0.95rem;
  color: var(--background-color);
  text-decoration: none;
  padding: 8px 20px;
  margin: 15px;
  font-weight: 600;
  cursor: pointer;
  -webkit-appearance: none;
}
button:focus {
  outline: none;
  
}
