.header {
  height: 75px;
  max-width: 100%;
  display: flex;
  background-color: #262626;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  align-items: center;
}

.header__logo {
  font-size: 1.3rem;
  flex: 1;
  margin-left: 2rem;
  color: white;
}

.header__logo > span {
  float: right;
}

.header__menuContainer {
  flex: 3;
  float: right;
}

.header__menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu > li {
  margin: 0rem 1rem;
}

nav a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
nav a:hover {
  color: #1db954;
}

.header__signInContainer {
  flex: 1;
  overflow: auto;
  display: flex;
  align-items: center;
}

.header__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.75rem;
  margin-left: 10%;
  min-width: 5%;
}
.header__link.SignIn{
  border: 2px solid white;
  background-color: #262626;
  color: white;
}
.header__link.SignIn:hover {
  color: #1db954;
  border: 2px solid #1db954;
}

.header__link.SignUp {
  color: #262626;
  border: 2px solid #262626;
  background-color: white;
}

.header__link.SignUp:hover {
  transition: 200ms ease-in;
  background-color: #1db954;
  color: white;
}
.header__linkIcon{
  text-decoration: none;
  
}

.header__profileIcon{
  font-size: 3rem !important;
  color: #1db954;
  /* background-color:white;
  border-radius:50%;
  border: none; */
}
