.coursehome{
    position: absolute;
    left: 17%;
    max-width:1000px;
    font-family: "Roboto", sans-serif;
    color: #2699fb;
}

.coursehome__thumbnail{
   margin-top: 30px;
   max-height: auto;
   max-width:1000px;
   position:relative;
   color: white;
}

.coursehome__thumbnail >img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.coursehome__playerDesc {
   position: absolute;
   left: 8%;
   top: 28%;
}

.coursehome__playerDesc > h2 {
    margin:10px;
    font-weight: 500;
}
.coursehome__playerDesc > p {
   margin: 30px 0px 30px 10px;
    width: 250px;
}
.coursehome__playIconContainer {
    position: absolute;
    top: 40%;
    left: 48%;
}
.coursehome__playerIcon {
    font-size: 3.5rem !important;
    color: white;
}

.coursehome__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-height: 350px;
    margin-top:30px;
}

.coursehome__desc1 > h3 {
    font-weight: 600;
    padding: 15px 20px;
}

.coursehome__desc1 > p{
    padding : 20px;
    font-size: 0.9rem;
    font-weight:100;
}

.coursehome__desc2 {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    
}
.coursehome__desc2Box{
     display: flex;
     flex-wrap: wrap;
     margin: 30px 50px 0px 50px;
}
.coursehome__desc2Boxes {
    height: 85px;
    width: 85px;
    margin: 10px 10px;
    background-color: #BCE0FD;
     text-align: center;
}
.coursehome__desc2Boxes > p {
    padding-top: 15px;
    font-size:0.7rem;
    font-weight: 600;
}
.coursehome__desc2Enroll {
    margin: 20px 50px;
    
}
.coursehome__desc2EnrollFree {
    text-decoration: none;
    color:#2699fb;
    font-weight: 600;
    font-size: 1.2rem;
    padding-left: 20px;
    
}
.coursehome__desc2EnrollLink {
    background-color: #2699fb;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0px 20px;

}


.coursehome__skills {
    max-width: 45%;
}
.coursehome__skills > h3 {
    font-weight: 600;
    padding: 15px 20px;
}

.coursehome__skillsCovered {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.coursehome__skillsCovered > p {
    padding: 10px 30px;
    background-color: #BCE0FD;
    color: #2699fb;
    margin:10px;
    border-radius: 5px;
}

.coursehome__courseOverview > h3 {
     font-weight: 600;
    padding: 15px 20px;
}
.coursehome__lesson {
    display: flex;
    justify-content:space-between;
    max-width: 60%;
    margin: 15px 0px 15px 80px;
    font-weight: 600;
}
.coursehome__studentsWorks > h3 {
    font-weight: 600;
    padding: 15px 20px; 
    text-align: center;
}
.coursehome__studentsWork {
    display: flex;
    justify-content: space-around;
    height: 250px;
    padding: 20px 120px;
    
}
.coursehome__studentsWorkRows {
    border: 2px solid #BCE0FD;
    width: 230px;
    height: 230px;
}

.coursehome__studentsWorkRows > p {
    text-align: center;
    margin-top: 100px;
}
.coursehome__dotIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coursehome__dotIcon {
    font-size: 0.5rem !important;
    padding: 5px;
}