.coursehome {
  font-family: "Roboto", sans-serif;
  color: #12142d;
}

.coursehome__thumbnail {
  max-height: auto;
  position: relative;
  color: white;
}

.coursehome__thumbnail > img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.coursehome__playerDesc {
  position: absolute;
  left: 8%;
  top: 18%;
  /* border: 1px solid white; */
}

.coursehome__playerDesc > h2 {
  margin: 10px;
  font-weight: 500;
  /* max-width: 250px; */
}
.coursehome__playerDesc > p {
  margin: 40px 0px 30px 10px;
  width: 250px;
}
.coursehome__playerDescFree {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 20px;
}
.coursehome__playerDescLink {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.5;
  padding: 0.55rem 1.5rem;
  cursor: pointer;
  background-color: #1db954;
  border-radius: 0.75rem;
  margin-left: 10%;
}
.coursehome__playIconContainer {
  position: absolute;
  top: 40%;
  left: 48%;
}
.coursehome__playerIcon {
  font-size: 3.5rem !important;
  color: white;
}

.coursehome__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-height: 350px;
  margin-top: 30px;
}

.coursehome__desc1 > h3 {
  font-weight: 600;
  padding: 15px 20px;
}

.coursehome__desc1 > p {
  padding: 20px;
  font-size: 0.9rem;
  font-weight: 100;
}

.coursehome__desc2 {
  max-height: 300px;
  display: flex;
  flex-direction: column;
}
.coursehome__desc2Box {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 50px 0px 50px;
}
.coursehome__desc2Boxes {
  height: 85px;
  width: 85px;
  margin: 10px 10px;
  background-color: white;
  text-align: center;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.coursehome__descBoxParagraph {
  color: #1db954;
  padding-top: 30px;
}
.coursehome__desc2Boxes > p {
  padding-top: 15px;
  font-size: 0.7rem;
  font-weight: 600;
}
.coursehome__desc2Enroll {
  margin: 20px 70px;
}
.coursehome__desc2EnrollFree {
  text-decoration: none;
  color: #12142d;
  font-weight: 500;
  font-size: 1.2rem;
  padding-left: 20px;
}
.coursehome__desc2EnrollLink {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.5;
  padding: 0.65rem 1.35rem;
  cursor: pointer;
  background-color: #1db954;
  border-radius: 0.75rem;
  margin-left: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.coursehome__skills {
  max-width: 75%;
}
.coursehome__skills > h3 {
  font-weight: 600;
  padding: 15px 20px;
}

.coursehome__skillsCovered {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

.coursehome__skillsCovered > p {
  padding: 10px 40px;
  background-color: white;
  color: #1db954;
  margin: 10px;
  border-radius: 0.75rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.coursehome__courseOverview > h3 {
  font-weight: 600;
  padding: 15px 20px;
}
.coursehome__lessons {
  margin: 15px 0px 15px 100px;
}
.coursehome__lesson {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-top: 5px;
}
.coursehome__lesson > p {
  margin: 10px 0px 10px 20px;
  font-weight: 500;
  font-size: 0.9rem;
}
.coursehome__studentsWorks > h3 {
  font-weight: 600;
  padding: 15px 20px;
  text-align: center;
  margin: 40px;
}
.coursehome__studentsWork {
  display: flex;
  justify-content: space-between;
  height: 250px;
  padding: 20px 20px;
}
.coursehome__studentsWorkRows {
  width: 300px;
  height: 240px;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.coursehome__studentsWorkRows > p {
  margin: 15px;
}
.coursehome__studentsWorkRows > img {
  width: 300px;
  height: 170px;
  object-fit: cover;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.coursehome__dotIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.coursehome__dotIcon {
  font-size: 0.5rem !important;
  padding: 5px;
  color: grey;
}
.coursehome__review {
  display: flex;
  align-items: center;
}
.coursehome__reviewArrowIcon {
  font-size: medium !important;
}

.coursehome__reviews > h3 {
  font-weight: 600;
  padding: 15px 20px;
  text-align: center;
}
.coursehome__reviewRow {
  margin: 10px;
}
.coursehome__reviewRowOne {
  max-width: 48%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  margin: 10px;
}
.coursehome__reviewRows {
  max-width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  margin: 10px;
}
.coursehome__reviewRowThree {
  max-width: 48%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  margin: 10px;
  float: right;
}
.coursehome__middleRow {
  display: flex;
}
.coursehome__reviewRow p {
  max-width: 85%;
  margin: 0px 5px 10px 15px;
  padding-top: 15px;
}
.coursehome__reviewRow h4 {
  margin: 0px 5px 10px 15px;
  display: inline-block;
}
.coursehome__reviewRowStarIcon {
  color: #1db954;
}
.coursehome__reviewRowProfileIcon {
  float: right;
  color: grey;
  margin: 10px;
  font-size: 2.5rem !important;
}
.coursehome__reviewRowStarIconContainer {
  margin: 0px 0px 5px 10px;
}
.coursehome__FAQ > h3 {
  text-align: center;
  margin: 50px 0px 40px 0px;
}

.coursehome__FAQContainer {
  margin: 10px 80px 0px 80px;
  display: flex;
  flex-direction: column;
}

.coursehome__FAQParagraph1 {
  max-width: 60%;
  padding: 10px;
  background-color: #1db954;
  color: white;
  font-weight: 400;
  border-radius: 0.75rem;
  box-shadow: 0 2px 4px 0 #1db954;
  margin: 10px;
}
.coursehome__FAQParagraph2 {
  width: 60%;
  padding: 10px;
  font-weight: 400;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: right;
  margin: 10px;
}
.coursehome__offers {
  margin: 10px 80px 0px 80px;
}
.coursehome__offers > h3 {
  text-align: center;
  margin: 50px 0px 20px 0px;
}
.coursehome__offers > p {
  text-align: center;
  margin: 50px 0px 0px 0px;
}
.coursehome__offersLink {
  margin: 5% 40% 10% 40%;
}
