.profile{
    height: 100vh;
    font-family: 'roboto',sans-serif;
}
.profile__firstHalf{
    height:40%;
    background-color: #B9FCD1;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.profile__imageContainer{
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 11%;
}
.profile__avatar{
    height:100px !important;
    width: 100px !important;;
}
.profile__imageContainerDiv{
    margin-left: 20px;
}
.profile__imageContainerDiv>p{
    font-weight: 600;
    font-size: 1.5rem;
}
.proifle__secondHalf{
    height: 60%;
    background-color: white;
    position: relative;
}
.profile__details{
    position: absolute;
    left: 11%;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.profile__detailsDiv{
    padding: 20px;
    margin:20px;
    width: 200px;
}
.profile__detailsDiv>p{
    color: #1DB954;
    padding: 10px 0;
}