.register {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.register__container{

  width: 500px;
  font-family: "Roboto", sans-serif;
  border-radius: 0.75rem;
  background-color: white;
  /* margin-top: auto; */
  color: black;
  margin: 2% 0 auto 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.register__container > h2 {
  font-weight: 600;
  text-align: center;
  padding: 15px;
  margin-top:20px;
}
.register__signupFree {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  color: #1fba55;
}
.register__SignUp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin: 20px auto;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 60%;
}
.register__SignUp > p {
  font-weight: 500;
  font-size: 1rem;
  margin: 10px 10px;
}
.register__signUpIcon {
  color: #1fba55;
  margin: 5px;
}
.register__container > p {
  text-align: center;
  margin: 10px;
  color: #1fba55;
}
.register__nameInput {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin: 40px 0px 20px 85px;
  width:330px;
}
.register__firstNameInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid grey;
  width: 160px;
}
.register__Icon {
  font-size: 1.3rem !important;
  margin: 6px;
  color: #1fba55;
}
.register__lastNameInput {
  display: flex; 
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid grey;
  padding-bottom:7px;
  
}

.register__container input {
  border-style: none;
}
::placeholder {
  color: grey;
  font-weight: 500;
  font-size: 1rem;
  
}
.register input:focus {
  outline: none;
}
.register__emailInput {
  display: flex;
  align-items: center;
  border-bottom: 2px solid grey;
  margin: 40px 0px 20px 85px;
  width: 65%;
}
.register__passwordInput {
  display: flex;
  align-items: center;
  border-bottom: 2px solid grey;
  margin: 40px 0px 20px 85px;
  width: 65%;
}
.register__checkbox {
  margin: 40px 85px 0px 85px;
}
.register__checkbox > label {
  font-size: small;
}
.register__checkbox > input {
  color: #2699fb;
}
.register__signUpButton {
  margin-left: 40%;
}
input[type="submit"] {
  padding: 5px 15px;
  background: #1fba55;
  border: 0 none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}
input[type="checkbox"] {
  color: #2699fb;
  border: 0 none;
}
.register__signIn {
  margin: 20px 0px 20px 120px;
}
.register__signInLink {
  color: #1fba55;
}
.register__forgotPassword{
  text-decoration: none;
  color: black;
  
}
.register__forgotPasswordContainer{
  text-align: center;
  margin: 20px;
}
