.sidebar {
  height: 100vh;
  
  flex: 0.2;
  background-color: white;
  min-width: 320px;
}

.sidebar__category > p {
  margin: 15px;
  padding: 10px 10px 10px 20px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  border-radius: 0.75rem;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.sidebar__onClickCategory {
  border: 2px solid #1db954;
  color: #1db954;
  margin: 15px;
  padding: 10px 10px 10px 20px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  border-radius: 0.75rem;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.sidebar__category > p:hover {
  background-color: #e7faee;
  cursor: pointer;
}

.all_courses {
  margin-top: 30px;
  text-transform: uppercase;
}
.sidebar__filterButton {
  background-color: black;
  border: none;
  border-radius: 0.95rem;
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 8px 20px;
  margin: 15px;
  font-weight: 600;
  cursor: pointer;
  -webkit-appearance: none;
}
button:focus {
  outline: none;
  
}
